<%= turbo_frame_tag :my_schedules_list do %>
  <div id="schedules_container" class="flex flex-col gap-2">
    <% @schedule_presenters.each do |presenter| %>
      <%= render 'account/schedules/schedule_card', presenter: presenter %>
    <% end %>
  </div>
<% end %>
