<%= turbo_frame_tag :my_games_list do %>
  <% if @games.blank? %>
    <div class="text-gray-400">
      <%= t '.no_games' %>
    </div>
  <% else %>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @games.each do |game| %>
        <%= render 'account/games/game_card', game: game %>
      <% end %>
    </div>
    <!-- Pagination -->
    <%= render 'shared/pagination', pagination: @pagination %>
  <% end %>
<% end %>
