<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>
<div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-4 mt-4">
  <% 6.times do %>
    <%= render 'games/shared/card_skeleton' %>
  <% end %>
</div>
