<div class="bg-gray-800 rounded-xl p-5">
  <div class="flex items-baseline gap-3 mb-4">
    <div class="sk w-30 aspect-8/3"></div>
    <div class="sk h-7 flex-1"></div>
  </div>
  <div class="min-w-1/4 pt-4">
    <div class="sk h-4"></div>
    <div class="sk h-6 mt-2"></div>
  </div>
</div>
