<%= turbo_frame_tag :search_results do %>
  <% if @game_presenters.blank? %>
    <% message = @query.blank? ? 'Start typing the game title...' : 'Oops... There are no games matching the query' %>
    <!-- Empty state -->
    <div id="emptyState" class="py-12 text-center justify-center text-gray-500 grow flex flex-col">
      <%= icon 'magnifying-glass', class: 'w-12 h-12 mx-auto mb-3 text-gray-600' %>
      <p><%= message %></p>
    </div>
  <% else %>
    <div class="px-0 py-0 flex flex-col gap-1">
      <% @game_presenters.each do |game_presenter| %>
        <%= render 'games/shared/search_result_game', game_presenter: game_presenter, id_prefix: 'search_' %>
      <% end %>
    </div>
  <% end %>
<% end %>
