
@layer components {
  .dropdown {
    /* Colors */
    --ss-primary-color: var(--color-gray-600);
    --ss-bg-color: var(--color-gray-800);
    --ss-font-color: var(--color-gray-300);
    --ss-border-color: var(--color-gray-300);
    --ss-border-radius: var(--radius-md);
    --ss-disabled-color: var(--color-gray-800);

    /* Heights */
    --ss-main-height: 40px;
    --ss-search-height: 40px;
    --ss-option-height: auto;
    --ss-content-height: 300px;

    /* Spacing */
    --ss-spacing-l: 9px;
    --ss-spacing-m: 7px;
    --ss-spacing-s: 5px;

    /* Other Properties */
    --ss-animation-timing: 0.2s;
  }

  .ss-main {
    @apply min-w-50;
  }

  .ss-main .ss-values .ss-value .ss-value-text {
    @apply text-gray-300!;
  }

  .ss-search input[type="search"]::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
  }

  .ss-content {
    @apply shadow-black shadow-md;
    scrollbar-width: thin;
    scrollbar-color: #52525b transparent;
  }

  .ss-main:focus,
  .ss-main.ss-open-below,
  .ss-main.ss-open-above {
    box-shadow: none !important;
    outline: none !important;

    border-color: var(--color-gray-400);
  }
}
